<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <servlet>
    <servlet-name>StudentAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.StudentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAction</servlet-name>
    <url-pattern>/studentAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>jhptAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.JTPTAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jhptAction</servlet-name>
    <url-pattern>/jhptAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GxzdCwgkAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.GxzdCwgkAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GxzdCwgkAction</servlet-name>
    <url-pattern>/GxzdCwgkAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GxzdSsfaAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.GxzdSsfaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GxzdSsfaAction</servlet-name>
    <url-pattern>/GxzdSsfaAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GxzdZfgsAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.GxzdZfgsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GxzdZfgsAction</servlet-name>
    <url-pattern>/GxzdZfgsAction</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ZtzdDfhscAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdDfhscAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdDfhscAction</servlet-name>
    <url-pattern>/ZtzdDfhscAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdGkglcAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdGkglcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdGkglcAction</servlet-name>
    <url-pattern>/ZtzdGkglcAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdGlglzAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdGlglzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdGlglzAction</servlet-name>
    <url-pattern>/ZtzdGlglzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdHdglzAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdHdglzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdHdglzAction</servlet-name>
    <url-pattern>/ZtzdHdglzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdJtgczlAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdJtgczlAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdJtgczlAction</servlet-name>
    <url-pattern>/ZtzdJtgczlAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdJtysglsAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdJtysglsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdJtysglsAction</servlet-name>
    <url-pattern>/ZtzdJtysglsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdJtysjAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdJtysjAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdJtysjAction</servlet-name>
    <url-pattern>/ZtzdJtysjAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtzdXzjtAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtzdXzjtAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtzdXzjtAction</servlet-name>
    <url-pattern>/ZtzdXzjtAction</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ZtyjDfhscAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjDfhscAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjDfhscAction</servlet-name>
    <url-pattern>/ZtyjDfhscAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjGkglcAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjGkglcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjGkglcAction</servlet-name>
    <url-pattern>/ZtyjGkglcAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjGlglzAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjGlglzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjGlglzAction</servlet-name>
    <url-pattern>/ZtyjGlglzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjHdglzAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjHdglzAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjHdglzAction</servlet-name>
    <url-pattern>/ZtyjHdglzAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjJtgczlAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjJtgczlAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjJtgczlAction</servlet-name>
    <url-pattern>/ZtyjJtgczlAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjJtysglsAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjJtysglsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjJtysglsAction</servlet-name>
    <url-pattern>/ZtyjJtysglsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjJtysjAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjJtysjAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjJtysjAction</servlet-name>
    <url-pattern>/ZtyjJtysjAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZtyjXzjtAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZtyjXzjtAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZtyjXzjtAction</servlet-name>
    <url-pattern>/ZtyjXzjtAction</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>BslcCflcAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.BslcCflcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BslcCflcAction</servlet-name>
    <url-pattern>/BslcCflcAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BslcJclcAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.BslcJclcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BslcJclcAction</servlet-name>
    <url-pattern>/BslcJclcAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BslcXklcAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.BslcXklcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BslcXklcAction</servlet-name>
    <url-pattern>/BslcXklcAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BslcZzlcAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.BslcZzlcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BslcZzlcAction</servlet-name>
    <url-pattern>/BslcZzlcAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.UploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAction</servlet-name>
    <url-pattern>/UploadAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ZfqxJcsxAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfqxJcsxAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfqxJcsxAction</servlet-name>
    <url-pattern>/ZfqxJcsxAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZfqxQlsxAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfqxQlsxAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfqxQlsxAction</servlet-name>
    <url-pattern>/ZfqxQlsxAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZfqxZrsxAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfqxZrsxAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfqxZrsxAction</servlet-name>
    <url-pattern>/ZfqxZrsxAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ZfjjAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfjjAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfjjAction</servlet-name>
    <url-pattern>/ZfjjAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ZfjgCfjgAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfjgCfjgAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfjgCfjgAction</servlet-name>
    <url-pattern>/ZfjgCfjgAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZfjgJcjgAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfjgJcjgAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfjgJcjgAction</servlet-name>
    <url-pattern>/ZfjgJcjgAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZfjgXkjgAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.ZfjgXkjgAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZfjgXkjgAction</servlet-name>
    <url-pattern>/ZfjgXkjgAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FjJtdtAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.FjJtdtAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FjJtdtAction</servlet-name>
    <url-pattern>/FjJtdtAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FjLbtAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.FjLbtAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FjLbtAction</servlet-name>
    <url-pattern>/FjLbtAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FjRmjxAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.FjRmjxAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FjRmjxAction</servlet-name>
    <url-pattern>/FjRmjxAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FjYqljAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.FjYqljAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FjYqljAction</servlet-name>
    <url-pattern>/FjYqljAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FjQdymAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.FjQdymAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FjQdymAction</servlet-name>
    <url-pattern>/FjQdymAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.QueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAction</servlet-name>
    <url-pattern>/QueryAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/UserAction</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>FangWenAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.FangWenAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FangWenAction</servlet-name>
    <url-pattern>/FangWenAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LiuLiangAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.LiuLiangAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiuLiangAction</servlet-name>
    <url-pattern>/LiuLiangAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuanJianZiAction</servlet-name>
    <servlet-class>cn.wangyanfsd.api.web.action.GuanJianZiAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuanJianZiAction</servlet-name>
    <url-pattern>/GuanJianZiAction</url-pattern>
  </servlet-mapping>
 
  <filter>  
      <filter-name>FilterAction</filter-name>  
      <filter-class>cn.wangyanfsd.api.filter.FilterAction</filter-class>  
  </filter>  
  <!--映射过滤器-->  
  <filter-mapping>  
      <filter-name>FilterAction</filter-name>  
      <!--“/*”表示拦截所有的请求 -->  
      <url-pattern>/*</url-pattern>  
  </filter-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>